<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="car_insurance"
         connectionString="Data Source=WIN-Q3HBJ1BJDBQ\SQLEXPRESS;Initial Catalog=car_insurance;Integrated Security=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AdminEmail" value="admin@autoin.local" />
    <add key="ManagerEmail" value="manager@autoin.local" />
    <add key="AdjusterEmail" value="adjuster@autoin.local" />
  </appSettings>
</configuration>
